ANTHROPIC_API_KEY=
DEEPGRAM_API_KEY=
DEEPGRAM_STT_MODEL=
DEEPGRAM_TTS_MODEL=
GEMINI_API_KEY=
GEMINI_MODEL=
GITHUB_TOKEN=
GROQ_API_KEY=
OPENAI_API_KEY=
OPENJARVIS_API_KEY=
OPENROUTER_API_KEY=
OPENWEATHER_API_KEY=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
TAVILY_API_KEY=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
VITE_API_URL=